

        <h1>StaticPages#home</h1>
        <p>Find me in app/views/static_pages/home.html.erb</p>

        <h1>
          Welcome To Blokus
        </h1>

        <% if user_signed_in? %>

            User Signed In
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>


        <% else %>



            <%= link_to new_user_session_path do %>
                <div class="fixed_nav_block right_block" id="sign_in_block">Sign In</div>
            <% end %>
            <%#= link_to new_beta_request_path do %>
            <%= link_to new_user_registration_path do %>
                <!--<div class="fixed_nav_block right_block" id="beta_invitation_block">Request Beta Invitation</div>-->
                <div class="fixed_nav_block right_block" id="beta_invitation_block">Sign Up</div>
            <% end %>

        <% end %>



        <%= link_to "New Game", new_game_path %>

