<p id="notice"><%= notice %></p>

<h1>Listing Moves</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Piece</th>
      <th>Squares</th>
    </tr>
  </thead>

  <tbody>
    <% @moves.each do |move| %>
      <tr>
        <td><%= move.user_id %></td>
        <td><%= move.piece_id %></td>
        <td><%= move.squares %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

